.login{
    width:28%;
    height:550px;
    position: fixed;
    top:15%;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    left: 50%;
    transform: translate(-50%);
    color:black;
    padding: 10px;
    overflow: hidden;
    h2{
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    label{
        font-size: 1rem;
        font-weight: 500;
        text-transform: capitalize;
    }
    .close{
        position: absolute;
        top:1%;
        right:0;
        width:34px;
        i{
            font-size: 1.4rem;
            padding:4px;
            width: 100%;
            
        }
    }
    .login-form{
        height: 83%;
        width: 100%;
        .username{
            margin: 1rem;
            width: 80%;
            label{
                font-size: 1.2rem;
                text-transform: capitalize;
                font-weight: 350;
            }
            i{
                font-size: .7rem;
                position: relative;
                top:25%;
                left:93%;
                padding: 3px;
            }
            input{
                background-color: transparent;
                width: 100%;
                border: none;
                outline: none;
                border-bottom: 1px solid black;
                color: black;
                text-transform: capitalize;
                font-size: .9;
                font-weight: 450;
                letter-spacing: 1.2px;
            }
        }
        .forgot-password{
            width: 100%;
            input{
                margin-top: .2rem;
                margin-right:1px ;
            }
            p{
                font-size: .8rem;
                margin: 0;
            }
            a{
                font-size: .8rem;
                margin-left:3rem ;
            }
        }
        .submit{
            width: 100%;
            margin-top: 1.6rem;
            button{
                width:81.5%;
            }
        }
        .register{
            width: 81%;
            margin-top: .6rem;
            a{
                color: peru;
            }
        }
        .icons{
            i{
                font-size: 1rem;
                padding: 8px;
            }
            .google{
                font-size: 1.1rem;
            }
        }

    }

}
@media screen and (max-width:1250px){
    .login{
        width:32%;
        height:520px;
        h2{
            font-size: 1.3rem;
        }
        .close{
            i{
                font-size: 1.2rem;
                padding:4px;
                width: 100%;
                
            }
        }
        .login-form{
            height: 83%;
            width: 100%;
            .username{
                margin: 1rem;
                width: 80%;
                label{
                    font-size: 1.2rem;
                    text-transform: capitalize;
                    font-weight: 350;
                }
                i{
                    font-size: .7rem;
                    position: relative;
                    top:25%;
                    left:93%;
                    padding: 3px;
                }
                input{
                    background-color: transparent;
                    width: 100%;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid black;
                    color: black;
                    text-transform: capitalize;
                    font-size: .9;
                    font-weight: 450;
                    letter-spacing: 1.2px;
                }
            }
            .forgot-password{
                width: 100%;
                input{
                    margin-top: .2rem;
                    margin-right:1px ;
                }
                p{
                    font-size: .8rem;
                    margin: 0;
                }
                a{
                    font-size: .8rem;
                    margin-left:3rem ;
                }
            }
            .submit{
                width: 100%;
                margin-top: 1.6rem;
                button{
                    width:81.5%;
                }
            }
            .register{
                width: 81%;
                margin-top: .6rem;
                a{
                    color: peru;
                }
            }
            .icons{
                i{
                    font-size: 1rem;
                    padding: 8px;
                }
                .google{
                    font-size: 1.1rem;
                }
            }
    
        }
    
    }
}

@media screen and (max-width:1010px){
    .login{
        width:39%;
        h2{
            font-size: 1.2rem;
        }
        label{
            font-size: 1rem;
        }
        .close{
            i{
                font-size: 1.2rem;
            }
        }
        .login-form{
            height: 83%;
            width: 100%;
            .username{
                margin: .7rem;
                label{
                    font-size: 1rem;
                }
            }
            .forgot-password{
                width: 100%;
                input{
                    margin-top: .2rem;
                    margin-right:1px ;
                }
                p{
                    font-size: .7rem;
                    margin: 0;
                }
                a{
                    font-size: .7rem;
                    margin-left:2.7rem ;
                }
            }
            .submit{
                margin-top: 1.4rem;
            }
            .register{
                width: 83%;
                margin-top: .6rem;
            }
            .icons{
                i{
                    font-size: .9rem;
                    padding: 8px;
                    padding-bottom: 0;
                }

            }
    
        }
    
    }
}

@media screen and (max-width:810px){
    .login{
        height: 460px;
        width:46%;
        h2{
            font-size: 1.1rem;
        }
        label{
            font-size: .9rem;
        }
        .login-form{
            height: 83%;
            width: 100%;
            .username{
                margin: .3rem;
                label{
                    font-size: .9rem;
                }
            }
            .forgot-password{
                width: 100%;
                margin-top: .5rem;
                input{
                    margin-top: 4px;
                    margin-right:1px ;
                }
                p{
                    font-size: .8rem;
                    margin: 0;
                }
                a{
                    font-size: .8rem;
                    margin-left:1rem ;
                }
            }
            .submit{
                margin-top: 1rem;
                button{
                    font-size: .8rem;
                }
            }
            .register{
                width: 83%;
                margin-top: .6rem;
                p{
                    font-size: .8rem;
                }
                a{
                    font-size: .8rem;
                }
            }
            .icons{
                i{
                    font-size: .8rem;
                    padding: 8px;
                    padding-bottom: 0;
                }

            }
    
        }
    
    }
}

@media screen and (max-width:650px){
    .login{
        height: 460px;
        width:57%;
    }
}

@media screen and (max-width:500px){
    .login{
        height: 460px;
        width:72%;
    }
}
@media screen and (max-width:410px){
    .login{
        height: 460px;
        width:83%;
    }
}

