.home{
    width: 100%;
    height: auto;
    position: absolute;
    top:10%;
    h3{
        margin: 1.2rem;
        border-bottom:2px solid peru;
        padding-bottom: .5rem;
    }
    .head, .mens, .womens, .mens-page{
        width: 100%;
        height: auto;
        background-color: rgb(161, 126, 126);
        position: relative;
        top:10%;
        
        h1{
            color: rgb(25, 25, 25);
            font-size: 2.2rem;
        }
        .cards{
            flex-wrap: wrap;
            margin:1.5rem 0rem;
            width: 100%;
            .links{
                border-radius: 2rem;
                width: 24%;
                height: 400px;
                padding: 0;
                margin: 0;
                text-decoration: none;
                margin-bottom:1rem;
               
                .card{
                    width: 98%;
                    height: 100%;
                    border-radius: .5rem;
                    overflow: hidden;
                    padding: 5px;
                    .image{
                        width: 100%;
                        height: 70%;
                        overflow: hidden;
                        img{
                           width: 100%;
                           height: 100%;
                           border-top-left-radius: .5rem;
                           border-top-right-radius: .5rem;
                           transition: .3s ease-in-out;
                        }
                    }
                    .content{
                        height: 30%;
                        
                        h2{
                            font-size: 1.2rem;
                            color: rgb(18, 18, 89);
                            
                            
                        }
                        label{
                            font-size: 2rem;
                            color: rgb(212, 49, 49);
        
                        }
                    }
                    &:hover{
                        filter: brightness(92%);
                    }
                    &:hover img{
                        transform: scale(1.07);
                        transition: .3s ease-in-out;
                    }
                }
            }
        }
    }

    .logos{
        position: relative;
        background-color: rgb(237, 84, 84);
        width:100%;
        overflow: hidden;
        
        img{
            width:80px;
            height: 120px;
        }
        .resize-brands{
            width: 30%;
            img{
                width:65px;
                height:60px;
            }
        }
        
    }
    .mens{
        background: linear-gradient(225deg, #ffabab, #ffdaab, #ddffab, #abe4ff, #d9abff);
        -webkit-animation: Rainbow 5s ease infinite;
        -moz-animation: Rainbow 5s ease infinite;
        animation: Rainbow 5s ease infinite;
        @keyframes Rainbow {
            0% {
              background-position: 94% 0%; }
            50% {
              background-position: 7% 100%; }
            100% {
              background-position: 94% 0%; } }
    }

    .womens{
        background: linear-gradient(225deg, #b48383, #aaa297, #8da26d, #abe4ff, #a074c5,#d9abff);
        -webkit-animation: Rainbow 10s ease infinite;
        -moz-animation: Rainbow 10s ease infinite;
        animation: Rainbow 10s ease infinite;
        @keyframes Rainbow {
            0% {
              background-position: 94% 0%; }
            50% {
              background-position: 7% 100%; }
            100% {
              background-position: 94% 0%; } }
    }
}


@media screen and (max-width:1000px){
    .home{
        top:10%;
        .head, .mens, .womens{
            padding: 0;
            h1{
                font-size: 1.8rem;
            }
            .cards{
                flex-wrap: wrap;
                .links{
                    width: 24.5%;
                    height: 310px;
                    margin-bottom:.8rem;
                    .card{
                        .image{
                            height:67%;
                        }
                        .content{
                            height:43%;
                            h2{
                                font-size: 1rem;   
                            }
                            label{
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    
        .logos{
            img{
                width:65px;
                height: 100px;
            }
            .resize-brands{
                img{
                    width:50px;
                    height:50px;
                }
            }
            
        }
    }
}

@media screen and (max-width:700px){
    .home{
        top:9%;
        .head, .mens, .womens{
            h1{
                font-size: 1.2rem;
                margin-bottom:-1rem;
            }
            .cards{
                margin-bottom: -1rem;
                flex-wrap: wrap;
                padding: 3px;
                margin-bottom: .5rem;
                .links{
                    width: 24.6%;
                    height: 200px;
                    margin-bottom:.1rem;
                    .card{
                        border-radius: .1rem;
                        .image{
                            height:60%;
                        }
                        .content{
                            height:40%;
                            h2{
                                font-size: .6rem;   
                            }
                            label{
                                font-size: .7rem;
                            }
                        }
                    }
                }
            }
        }
    
        .logos{
            img{
                width:55px;
                height: 100px;
            }
            .resize-brands{
                img{
                    width:40px;
                    height:40px;
                }
            }
            
        }
        h3{
            font-size: 1.2rem;
        }
    }
}
@media screen and (max-width:500px){
    .home{
        top:9.5%;
        .head .cards{
            margin-top: 1.7rem;
        }
        .mens, .womens {
            .cards{
                margin-top: 0;
            }
        }
        .head, .mens, .womens{
            padding: 8px;
            h1{
                font-size: .9rem;
                margin-bottom:-1rem;
            }
            .cards{
                margin-bottom:.71rem;
                flex-wrap: wrap;
                width: 100%;
                
                .links{
                    width: 50%;
                    height: 180px;
                    margin-bottom:.8rem;
                    margin:0px;
                    margin-bottom: 3px;
                    border-radius: 0;
                    .card{
                        border-radius: 0rem;
                        .image{
                            height:60%;
                        }
                        .content{
                            height:40%;
                            h2{
                                font-size: .6rem;  
                                margin: 0;
                                padding: 0; 
                            }
                            label{
                                font-size: .8rem;
                                margin: 0;
                                padding: 0; 
                            }
                        }
                    }
                }
            }
        }
    
        .logos{
            width: 99.8%;
            border: 1px solid black;
            img{
                width:50px;
                height: 70px;
                margin-right:20px ;
            }
            .resize-brands{
                visibility: hidden;
            }
            
        }
        h3{
            font-size:.9rem;
        }
    }
}



